.comments_page_container {
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 30px 30px 30px;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

.comments_container {
    color: black;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.comment_container {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.username_icon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-size: 25px;
    margin: 0;
}

.icon_delete {
    font-size: 25px;
    color: gray;
    cursor: pointer;
}

.comment {
    font-size: 20px;
    margin: 0;
}


.title {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

.inp_comment_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.input,
.btn {
    border: none;
    border-bottom: 2px solid rgba(185, 185, 185, 0.9);
    padding: 10px 20px;
    font-size: 20px;
}

.input {
    outline: none;
    width: 70%;
}

.rating_container {}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.btn {
    cursor: pointer;
    background-color: white;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .4;
}

.error_message {
    text-align: left;
    height: 16px;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 40, 40);
}