.form_container,
.inputs_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 50px;
    font-weight: 500;
    color: white;
}

.form_container {
    row-gap: 15px;
    pointer-events: none;
    padding: 40px;
}

.input_container {
    position: relative;
    border: none;
    box-sizing: border-box;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.input_container input,
.btn {
    pointer-events: all;
    background-color: white;
    color: rgb(0, 196, 255);
    font-size: 20px;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 0px 35px -4px rgb(8, 189, 255);
}

.input_container input {
    width: 300px;
    padding: 10px 0 10px 20px;
    outline: none;
}

.placeholder {
    position: absolute;
    display: flex;
    column-gap: 5px;
    top: 30%;
    left: 7%;
    font-size: 20px;
    color: rgba(0, 196, 255, 0.712);
    pointer-events: none;
    transition: all 0.4s linear;
}

.placeholder span {
    font-size: 20px;
    transition: all 0.4s linear;
}

.input_container input:focus~.placeholder,
.input_container input:invalid~.placeholder,
.input_container input:not(:focus):user-valid~.placeholder {
    transform: translateY(-40px);
    left: 0px;
    font-size: 20px;
    color: rgb(0, 196, 255);
}

.input_container input:focus~.placeholder span,
.input_container input:invalid~.placeholder span,
.input_container input:not(:focus):user-valid~.placeholder span {
    opacity: 0;
}

.icon_eye {
    pointer-events: all;
    position: absolute;
    top: 27%;
    right: 7%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.input_container input:focus~.icon_eye,
.input_container input:invalid~.icon_eye,
.input_container input:not(:focus):user-valid~.icon_eye {
    transition: opacity 0.9s ease;
    opacity: 1;
}

.btn {
    width: 50%;
    cursor: pointer;
    padding: 10px;
    color: white;
    background: rgb(89, 215, 247);
    /* background: radial-gradient(rgb(126, 219, 253), rgb(0, 128, 175)); */
    box-shadow: 0px 0px 35px -4px rgb(42, 184, 255);
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .4;
}

.error_message {
    text-align: left;
    height: 16px;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 40, 40);
}